

.wrapper-s {
  display: flex;
  justify-content: space-between;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height:auto;
	width:25%;	
	border:2px solid #4caf50;
	background-color:#89ccd6;
	border-radius:15px;
	padding:5px;
	color:white;
        overflow: hidden;
        display: inline-block;
        position: sticky;
        position: -webkit-sticky;
        top: 0; 
}

.article,
.aside {
  border: 3px solid black;
  padding: 15px;
  background-color: #fff;
}

.article {
float:right;
  width: 60%;
  height: 150vh;
    display:table;
}
.aside {
float:left;
  width: 25%;
  height: 25vh;
  display:table;
}
body {
  background-color: #ccc;
  font-family: sans-serif;
  padding: 10px;
}




<div class="wrapper-s">



  <div class="article">
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>

				  
					
  </div>
 
 
 
 <div class="aside">
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1><h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>

<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>
<h1>Main content</h1>

  </div>
 
 
 
</div>


